<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v2.0.50727"/></startup>

  <appSettings>

    <add key="phpPath" value="C:\Program Files\PHP\php.exe" />
    <add key="statusNetPath" value="C:\Program Files\Apache Software Foundation\Apache2.2\htdocs\statusnet" />
    <add key="jabberAccount" value="exampleaccoun@exampleserver.pl" />
    <add key="jabberPassword" value="examplepassword" />

    <add key="statusNetEncoding" value="UTF-8" />
    <add key="windowsEncoding" value="WINDOWS-1250" />
    

  </appSettings>

</configuration>
